.barkpost-form {
	.dropdown-content li > a, .dropdown-content li > span {
		color: $barkpost-blue;
	}

	.input-field label.active {
		color: $barkpost-blue;
	}

	.input-field label.barkpost-select-label{
		color: $barkpost-blue;
	}

	input {
		&:not([type]) {
			&:focus {
				&:not([readonly]) {
					+ {
						label {
							color: $barkpost-blue;
						}
					}
					border-bottom: 1px solid $barkpost-blue;
					box-shadow: 0 1px 0 0 $barkpost-blue;
				}
			}
		}
	}
	input[type=text] {
		&:focus {
			&:not([readonly]) {
				+ {
					label {
						color: $barkpost-blue;
					}
				}
				border-bottom: 1px solid $barkpost-blue;
				box-shadow: 0 1px 0 0 $barkpost-blue;
			}
		}
	}
	input[type=password] {
		&:focus {
			&:not([readonly]) {
				+ {
					label {
						color: $barkpost-blue;
					}
				}
				border-bottom: 1px solid $barkpost-blue;
				box-shadow: 0 1px 0 0 $barkpost-blue;
			}
		}
	}
	input[type=email] {
		&:focus {
			&:not([readonly]) {
				+ {
					label {
						color: $barkpost-blue;
					}
				}
				border-bottom: 1px solid $barkpost-blue;
				box-shadow: 0 1px 0 0 $barkpost-blue;
			}
		}
	}
	input[type=url] {
		&:focus {
			&:not([readonly]) {
				+ {
					label {
						color: $barkpost-blue;
					}
				}
				border-bottom: 1px solid $barkpost-blue;
				box-shadow: 0 1px 0 0 $barkpost-blue;
			}
		}
	}
	input[type=time] {
		&:focus {
			&:not([readonly]) {
				+ {
					label {
						color: $barkpost-blue;
					}
				}
				border-bottom: 1px solid $barkpost-blue;
				box-shadow: 0 1px 0 0 $barkpost-blue;
			}
		}
	}
	input[type=date] {
		&:focus {
			&:not([readonly]) {
				+ {
					label {
						color: $barkpost-blue;
					}
				}
				border-bottom: 1px solid $barkpost-blue;
				box-shadow: 0 1px 0 0 $barkpost-blue;
			}
		}
	}
	input[type=datetime] {
		&:focus {
			&:not([readonly]) {
				+ {
					label {
						color: $barkpost-blue;
					}
				}
				border-bottom: 1px solid $barkpost-blue;
				box-shadow: 0 1px 0 0 $barkpost-blue;
			}
		}
	}
	input[type=datetime-local] {
		&:focus {
			&:not([readonly]) {
				+ {
					label {
						color: $barkpost-blue;
					}
				}
				border-bottom: 1px solid $barkpost-blue;
				box-shadow: 0 1px 0 0 $barkpost-blue;
			}
		}
	}
	input[type=tel] {
		&:focus {
			&:not([readonly]) {
				+ {
					label {
						color: $barkpost-blue;
					}
				}
				border-bottom: 1px solid $barkpost-blue;
				box-shadow: 0 1px 0 0 $barkpost-blue;
			}
		}
	}
	input[type=number] {
		&:focus {
			&:not([readonly]) {
				+ {
					label {
						color: $barkpost-blue;
					}
				}
				border-bottom: 1px solid $barkpost-blue;
				box-shadow: 0 1px 0 0 $barkpost-blue;
			}
		}
	}
	input[type=search] {
		&:focus {
			&:not([readonly]) {
				+ {
					label {
						color: $barkpost-blue;
					}
				}
				border-bottom: 1px solid $barkpost-blue;
				box-shadow: 0 1px 0 0 $barkpost-blue;
			}
		}
	}
	textarea.materialize-textarea {
		&:focus {
			&:not([readonly]) {
				+ {
					label {
						color: $barkpost-blue;
					}
				}
				border-bottom: 1px solid $barkpost-blue;
				box-shadow: 0 1px 0 0 $barkpost-blue;
			}
		}
	}
}
